footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

ul li {
  font-weight: bold;
  font-size: 26pt;
}

ul a {
  color: #000;
}