.plans {
  /* height: 557px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}

.card-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.plan-1 {
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
  background-color: #aaaaaa;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.value-1 {
  font-size: 24px;
  font-weight: bold;
  color: #0000ff;
}

.value-2 {
  font-size: 24px;
  font-weight: bold;
  color: #008000;
}

.value-3 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
} 

.important {
  font-weight: bold;
  color: #008000;
}

.button-plan-1 {
  cursor: pointer;
  width: 7rem;
  height: 2rem;
  background-color: #1a1a1a;
  border: none;
  color: #fff;
  border-radius: 1rem;
} 

.button-plan-2 {
  cursor: pointer;
  width: 7rem;
  height: 3rem;
  background-color: #1a1a1a;
  border: none;
  color: #fff;
  border-radius: 1rem;
} 

.button-plan-3 {
  cursor: pointer;
  width: 7rem;
  height: 2rem;
  background-color: #1a1a1a;
  border: none;
  color: #fff;
  border-radius: 1rem;
}